
@model IList<Blog.Domain.Category>

@foreach (var category in Model)
{
    <div style="margin-left: 5px">
        <a data-toggle="collapse" asp-controller="Category" asp-action="CategoryDetail" asp-route-id="@category.Id"
           data-target="#@category.Id"
           aria-controls="@category.Id"
           role="button" aria-expanded="true">@category.Name</a>
        @if (category.Children != null)
        {
            @await Html.PartialAsync("_CatalogPartial", category.Children)
        }
    </div>
}
