@model Blog.Web.Models.Articles.ArticlesViewModel

@{
    ViewData["Title"] = "Поиск";
}

@foreach (var article in Model.Articles)
{
    <div class="nav-item article-item">
        <a class="nav-link" asp-controller="Article" asp-action="Index" asp-route-id="@article.Id"
           role="button">@article.Title</a>
    </div>
}