@{
    ViewData["Title"] = "Начало";
}

<h1 class="container text-center title">Чего это тут такое и как связаться?</h1>
<p>
    Данный web-ресурс представляет собой ни что иное, как мой собственный блог, на котором я размещаю доступные для
    широкой общественности свои творческие потуги. Обратите внимание, что это мой личный ресурс и я что хочу,
    то и размещаю. <a href="https://www.youtube.com/watch?v=EbW7dDtgUTE" target="_blank">
Малолетним дебилам</a>, кормящим матерям и другим психически неустойчивым личностям просьба НЕМЕДЛЕННО
покинуть этот ресурс.
</p>
<p>
    Для тех же ребят и девчат, кто обнаружил ошибки, а они не избежны ибо статьи не проходят какой бы то ни было редактуры,
    а также для тех, кто способен в письменной форме связно и последовательно сформулировать свои предложения, буду рад общению через
    <img src="/img/email.png" height="28px" />
</p>
<p>
    На данный момент всё это хозяйство хостится в маааленькой такой коробочке под названием
    <a href="https://www.raspberrypi.org/products/raspberry-pi-4-model-b/" target="_blank">Raspberry PI 4</a> у меня дома.
    А доступ в Тырнеты из дому весьма узкий ибо проложен через древнее изобретение под названием ADSL 2. Да, да, да - в развитой
    такой Австралии до сих пор массово используется медленный и допотопный доступ во Всемирную Сеть. Таким образом,
    скорость работы из-за узкого канала весьма посредственная, однако её вполне хватает для тех граждан, кто зашёл почитать,
    а не быстренько пролистать цветастые картинки. Для любителей полистать прямая дорога в Стограмм.
</p>
<p>
    Почему бы не забросить всё это на нормальный хостинг? Да очень просто - задумывался сей проект скорее для
    ограниченного круга близких и друзей, с которыми бы хотелось поделиться своими мыслями и изысканиями, поэтому
    требований к скорости работы нет никаких. Денег сайт не приносит никаких, однако на ресурсе хранятся фотографии
    в высоком качестве, занимающие десятки гигабайт, что будет весьма накладно держать на платном хостинге. 
</p>
<p>
    Основная тематика сего творения - это подводная охота, парусные лодки, а также другая околоводная и околонырятельная
    атмосфера, разбавленная горными лыжами, а также поездками по Австралии и не только.
</p>
<p>
    Для желающих расстаться с частью нажитых непосильным трудом дензнаков в пользу развития сего неостановимого порыва
    творческой мысли могу предложить платный доступ к полноразмерным фотографиям. Для этого сначала жамкайте кнопку
</p>
<div style="display: inline;">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="BZLGPP93FZPQW" />
        <input type="hidden" name="currency_code" value="AUD" />
        <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
    </form>
</div>
<p>
    а потом сбросьте мне сообщение на электронную почту с желаемым логином в систему.
</p>
<p>
    Однако предупреждаю, что фотки эти всё равно будут грузиться очень долго, ибо тот самый ADSL.
</p>
<p>Ах, да! Использование материалов сайта возможно с моего согласия и с обязательной ссылкой на источник.</p>
<p>Вроде бы ничего не забыл. Приятного чтения!</p>