@model Blog.Web.Models.Article.ArticleViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Stylesheets {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/article/index.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/article/index.min.css" asp-append-version="true">
    </environment>
}

<h1 class="container text-center title">@Model.Title</h1>

<div class="container">@Html.Raw(Model.Body)</div>