@using Microsoft.AspNetCore.Identity
@using Blog.Domain

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="SearchArticles" asp-action="Search">Поиск</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">Описание</a>
        </li>
        @if (User.IsInRole(ApplicationRole.Administrator))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Articles" asp-action="Index">Статьи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Files" asp-action="Index">Файлы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Gallery" asp-action="Index">Галерея</a>
            </li>
        }
    </ul>