@{
    ViewData["Title"] = "Доступ запрещён";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">У вас нет доступа просматривать данный ресурс.</p>
</header>